@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-15 blockquote{
	text-align: center;
}

table{
	border-spacing: 1em;
	margin: 1em auto;
}

table th{
	font-style: italic;
	font-weight: normal;
}

table td,
table th{
	padding: 0;
	vertical-align: top;
}

figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}
